.btn-group{
  display: flex;
  justify-content: center;
  margin: 30px;
}
.btn-group .btn{
  background-color: transparent;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
}

.list-group{
  display: flex;
  flex-direction: column;
}
.list-group-item{
  padding: 10px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px;
}
